{
    admin off
}

:80 {
    protocols h2c h1

    respond / 200 {
        body "OK - Render health check"
        close
    }

    respond /healthz 200 {
        body "OK - Render health check"
        close
    }

    reverse_proxy * 127.0.0.1:50052 {
        transport http {
            versions h2c
        }
    }
}
